
@{
    ViewData["Title"] = "Search";
}

<div style="margin-top:20px ">
    <form asp-area="Home" asp-action="Search">
        <ul class="navbar">
                <div class="nav-item">
                    <input class="form-control" placeholder="Arama Metni Giriniz" />
                </div>
                <div class="nav-item" style="margin-left:10px">
                    <input type="submit" value="Ara" class="btn btn-primary" />
                </div>
        </ul>
    </form>
</div>

